<h3 align="center">Search User Repositories</h3>
<div class="well well-sm">
  <label>Repository Holder Name</label><br>
  <input type="text" #username><br><br>
  <button class="btn btn-success" (click)="onClick(username.value)"> Get Details</button>
</div>

<div *ngIf="buttonCheck && !error">

  <div class="well well-sm">

    <h3 align="center"> {{userRepo[0].owner.login }} 's Repositories</h3>

    <table class="table">
      <div class="table" *ngFor="let row of userRepo">
        <tr>
          <td>Repository Id</td>
          <td> {{row.id}} </td>
        </tr>

        <tr *ngIf="!(row.name==null)">
          <td> Repository Name</td>
          <td>{{row.name}}</td>
        </tr>

        <tr>
          <td>Repository Type</td>
          <td *ngIf="row.private==false"> Public Repository </td>
          <td *ngIf="row.private==true"> Private Repository </td>
        </tr>

        <tr *ngIf="!(row.language==null)">
          <td>Language Used</td>
          <td> {{row.language}} </td>
        </tr>

        <tr>
          <td>No of Forks</td>
          <td> {{row.forks_count}} </td>
        </tr>

        <tr>
          <td>Size Of Repository</td>
          <td> {{row.size}} Bytes </td>
        </tr>

        <tr>
          <td>Repository Created At</td>
          <td> {{row.created_at}} </td>
        </tr>
        <tr>
          <td>Repository Updated At</td>
          <td> {{row.updated_at}} </td>
        </tr>

        <tr>
          <td> Reach Repository At</td>
          <td> <a href="{{row.html_url}}" target="_blank" >Go to repositroy</a> </td>
        </tr>
      </div>
    </table>

  </div>
</div>
